@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'JetBrains Mono';
}

.desk{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
}

.desk h1{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    color: #817D92;
    margin-bottom: 31px;
}

.desk .block1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 19px;
    padding-left: 32px;
    padding-bottom: 19px;
    padding-right: 32px;
    width: 476px;
    height: 42px;
    background: #24232C;
}

.desk .block1 h1{
    margin-top: 23px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #E6E5EA;
}

.desk .block2{
    margin-top: 24px;
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 46px;
    height: 469px;
    width: 476px;
    background: #24232C;
}

.val{
    width: 476px;
}

.desk .block2 .a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 476px;
    height: 42px;
    margin-bottom: 17px;
}

.desk .block2 .a .ch{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #E6E5EA;
}

.desk .block2 .a .t{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #A4FFAF;
}

.desk .block2 .c{
    width: 315px;
    height: 152px;
    margin-top: 32px;
}

.bbc{
    width: 20px;
    height: 20px;
}

.bmwn{
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #E6E5EA;
}

.bmw{
    margin-top: 23px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #E6E5EA;
}

.desk .block2 .d{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 412.5px;
    height: 31px;
    padding-top: 21px;
    padding-right: 31.5px;
    padding-bottom: 20px;
    padding-left: 32px;
    background: #18171F;
}

.desk .block2 .d p{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #817D92;
}

.desk .block2 .d div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 166.5px;
    height: 31px;
}

.desk .block2 .d div p{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    color: #E6E5EA;
}

.desk .block2 .d div .b1{
    background: #F8CD65;
    width: 10px;
    height: 28px;
}

.desk .block2 .d div .b2{
    border: 2px solid #E6E5EA;
    width: 8px;
    height: 25px;
}

.desk .block2 .e{
    margin-top: 32px;
    width: 476px;
    height: 65px;
    background: #A4FFAF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #24232C;
}